Repository microsoft/calculator, pull requests merged in 2019-12, with the labels that each got.

#838 Enable PR and CI builds for feature branches
  build/pipelines/azure-pipelines.ci.yaml
Labels: tooling

#841 Build GraphingCalculator against SDK 18362
  src/CalcManager/CalcManager.vcxproj
  src/CalcViewModel/CalcViewModel.vcxproj
  src/Calculator/Calculator.vcxproj
  src/Calculator/Controls/MathRichEditBox.cpp
  src/CalculatorUnitTests/CalculatorUnitTests.vcxproj
  src/GraphControl/GraphControl.vcxproj
  src/MockGraphingImpl/MockGraphingImpl.vcxproj
Labels: graphing calculator

#843 Change GraphingCalculator package identity back to WindowsCalculator.Dev
  src/Calculator/Package.appxmanifest
Labels: build, graphing calculator

#827 Add error handling to graph and equations
  src/Calculator/App.xaml
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
  src/GraphControl/Control/Equation.cpp
  src/GraphControl/Control/Equation.h
  src/GraphControl/Control/EquationCollection.h
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphControl/DirectX/RenderMain.cpp
  src/GraphControl/DirectX/RenderMain.h
Labels: graphing calculator

#845 Add icons for show, hide and switch to equation mode
  src/Calculator/App.xaml
  src/Calculator/Assets/CalcMDL2.ttf
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
Labels: graphing calculator

#842 Adding automation names to buttons
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
Labels: graphing calculator, needs author feedback

#815 Update ManualTests.md
  docs/ManualTests.md
Labels: graphing calculator

#848 Hide or Disable graphing calculator menu item when necessary
  src/CalcViewModel/Common/NavCategory.cpp
  src/CalcViewModel/Common/NavCategory.h
  src/CalcViewModel/pch.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
  src/Calculator/Views/MainPage.xaml.cpp
  src/CalculatorUnitTests/CurrencyConverterUnitTests.cpp
  src/CalculatorUnitTests/NavCategoryUnitTests.cpp
Labels: graphing calculator

#853 Fix crash with MathRichEditBox on x86
  src/Calculator/Controls/MathRichEditBox.cpp
Labels: graphing calculator

#855 Add graph mode keyboard UI
  src/Calculator/Calculator.vcxproj
  src/Calculator/Calculator.vcxproj.filters
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml.h
Labels: graphing calculator

#854 Add context menu to rich edit to allow for keyboard support
  src/Calculator/App.xaml
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
Labels: graphing calculator

#856 Fix graph rendering of inequalities
  src/GraphControl/Control/Equation.cpp
Labels: graphing calculator

#826 [Graph] Replace the Add button by a EquationTextBlock
  src/CalcViewModel/GraphingCalculator/EquationViewModel.h
  src/Calculator/App.xaml
  src/Calculator/Calculator.vcxproj
  src/Calculator/Calculator.vcxproj.filters
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Utils/VisualTree.cpp
  src/Calculator/Utils/VisualTree.h
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
Labels: graphing calculator

#852 Update GraphingCalculator Projects to allow official builds
  nuget.config
  src/CalcManager/CalcManager.vcxproj
  src/CalcViewModel/CalcViewModel.vcxproj
  src/Calculator.sln
  src/Calculator/Calculator.vcxproj
  src/GraphControl/GraphControl.vcxproj
  src/GraphingImpl/GraphingImpl.vcxproj
  src/GraphingImpl/GraphingImpl.vcxproj.filters
  src/GraphingImpl/Mocks/MathSolver.cpp
  src/GraphingImpl/Mocks/MathSolver.h
  src/GraphingImpl/dllmain.cpp
  src/GraphingImpl/pch.cpp
  src/GraphingImpl/pch.h
  src/GraphingImpl/targetver.h
Labels: graphing calculator

#864 Redesign graph buttons + replace ActiveTracing button by a ToggleButton
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/GraphControl/Control/Grapher.h
Labels: graphing calculator

#862 Fix some UI bugs in graph mode
  src/Calculator/App.xaml
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
  src/Calculator/pch.h
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/DirectX/RenderMain.cpp
Labels: graphing calculator

#866 Save and restore the value of EquationInputArea when users scroll
  src/Calculator/App.xaml
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Controls/MathRichEditBox.cpp
  src/Calculator/Controls/MathRichEditBox.h
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml.cpp
  src/Calculator/Views/MainPage.xaml.cpp
Labels: graphing calculator

#868 Fix some focus issues in Graphing Calculator
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/GraphControl/DirectX/RenderMain.cpp
Labels: graphing calculator

#867 Update graph tooltip design and content
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
Labels: graphing calculator

#833 Remove EquationTextBox from KeyGraphFeaturesPanel
  src/Calculator/App.xaml
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Views/DateCalculator.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml.cpp
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml.h
Labels: codebase quality, graphing calculator

#863 Wire up keyboard in graphing calculator
  src/CalcViewModel/Common/CalculatorButtonUser.h
  src/Calculator/Controls/MathRichEditBox.cpp
  src/Calculator/Controls/MathRichEditBox.h
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml.h
  src/Calculator/pch.h
Labels: graphing calculator

#878 High Contrast support for Graphing Calculator
  src/Calculator/App.xaml
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
Labels: Enhancement, graphing calculator
