Repository microsoft/calculator, pull requests merged in 2020-03, with the labels that each got.

#896 Focus ClearEntry button after Clear button is used and vice versa
  src/Calculator/Views/CalculatorProgrammerRadixOperators.xaml
  src/Calculator/Views/CalculatorProgrammerRadixOperators.xaml.cpp
  src/Calculator/Views/CalculatorProgrammerRadixOperators.xaml.h
  src/Calculator/Views/CalculatorScientificOperators.xaml
  src/Calculator/Views/CalculatorScientificOperators.xaml.cpp
  src/Calculator/Views/CalculatorScientificOperators.xaml.h
Labels: fixing approved issue

#1059 Parse each individual equation
  src/GraphControl/Control/Grapher.cpp
Labels: graphing calculator

#1060 Support other locales for decimal and list separators
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml.cpp
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphingImpl/Mocks/MathSolver.h
  src/GraphingInterfaces/IMathSolver.h
Labels: graphing calculator

#1051 Allow copying graph as image from context menu
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
Labels: graphing calculator

#1032 Add automation name to graph control
  src/CalcViewModel/Common/Automation/NarratorAnnouncement.cpp
  src/CalcViewModel/Common/Automation/NarratorAnnouncement.h
  src/CalcViewModel/Common/LocalizationStringUtil.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
Labels: graphing calculator

#1076 Update internal package version
  build/pipelines/templates/build-app-internal.yaml
Labels: tooling

#1073 Add reset button to settings flyout
  src/CalcViewModel/GraphingCalculator/GraphingSettingsViewModel.cpp
  src/CalcViewModel/GraphingCalculator/GraphingSettingsViewModel.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.h
Labels: graphing calculator

#1054 Check for ctrl when navigating to handle AltGr
  src/Calculator/Common/KeyboardShortcutManager.cpp
Labels: graphing calculator

#1061 Fix analyze button being enabled when an equation has an error
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
Labels: graphing calculator

#1058 Work around crash by replacing ItemRepeater with ListView
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
Labels: graphing calculator

#1065 Support regular textbox context menu functions in the EquationTextBox
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
Labels: graphing calculator

#1067 Select the equation when the EquationTextBox has focus and during analysis
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Models/Equation.cpp
  src/GraphControl/Models/Equation.h
  src/GraphControl/Models/EquationCollection.h
Labels: graphing calculator

#1082 Delete unused build config files
  build/config/TRexDefs/amd64/performance.xml
  build/config/TRexDefs/amd64/rs4_release.xml
  build/config/TRexDefs/amd64/rs5_release.xml
  build/config/TRexDefs/amd64/rs_apps_validate.xml
  build/config/TRexDefs/arm/performance.xml
  build/config/TRexDefs/arm/rs_apps_validate.xml
  build/config/TRexDefs/x86/rs4_release.xml
  build/config/TRexDefs/x86/rs5_release.xml
  build/config/TRexDefs/x86/rs_apps_validate.xml
  build/config/TestLists/ARM/Desktop_ARM.testlist
  build/config/TestLists/ARM/Performance_ARM.testlist
  build/config/TestLists/ARM/WCOS_ARM.testlist
  build/config/TestLists/ARM64/Desktop_ARM64.testlist
  build/config/TestLists/ARM64/WCOS_ARM64.testlist
  build/config/rs_apps_utils.json
  build/config/rs_apps_validate.json
  build/pipelines/templates/prepare-release-internalonly.yaml
Labels: build

#1085 Roadmap Update for 2020
  docs/Roadmap.md
Labels: documentation

#936 Reducing the number of wstring copies when constructing Unit and Category
  src/CalcManager/UnitConverter.h
Labels: codebase quality

#1064 Support mouse gestures when active tracing is enabled
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphControl/DirectX/RenderMain.cpp
  src/GraphControl/DirectX/RenderMain.h
Labels: graphing calculator

#1055 Persist variable settings after graph is plotted
  src/CalcViewModel/GraphingCalculator/GraphingCalculatorViewModel.cpp
  src/CalcViewModel/GraphingCalculator/GraphingCalculatorViewModel.h
  src/CalcViewModel/GraphingCalculator/VariableViewModel.h
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphControl/GraphControl.vcxproj
  src/GraphControl/GraphControl.vcxproj.filters
  src/GraphControl/Models/Variable.h
  src/Settings.XamlStyler
Labels: graphing calculator

#1105 Make the certificate compatible with remote device/emulator deployment
  src/Calculator/TemporaryKey.pfx
Labels: approved, build

#1027 Add dual-screen support to Calculator
  src/CalcViewModel/CalcViewModel.vcxproj
  src/CalcViewModel/CalcViewModel.vcxproj.filters
  src/CalcViewModel/Utils/DeviceFamilyHelper.cpp
  src/CalcViewModel/Utils/DeviceFamilyHelper.h
  src/Calculator/App.xaml
  src/Calculator/Calculator.vcxproj
  src/Calculator/Calculator.vcxproj.filters
  src/Calculator/Controls/TwoPaneViewCX.cpp
  src/Calculator/Controls/TwoPaneViewCX.h
  src/Calculator/MultiTrigger.cpp
  src/Calculator/MultiTrigger.h
  src/Calculator/Package.appxmanifest
  src/Calculator/Views/Calculator.xaml
  src/Calculator/Views/Calculator.xaml.cpp
  src/Calculator/Views/Calculator.xaml.h
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/Calculator/Views/StateTriggers/ApplicationViewModeTrigger.cpp
  src/Calculator/Views/StateTriggers/ApplicationViewModeTrigger.h
  src/Calculator/Views/TitleBar.xaml.cpp
  src/Calculator/Views/TitleBar.xaml.h
  src/Calculator/Views/UnitConverter.xaml
  src/Calculator/Views/UnitConverter.xaml.h
  src/Calculator/packages.config
  src/Calculator/pch.h
Labels: graphing calculator

#834 Remove adjustment from local time
  src/CalcViewModel/DateCalculatorViewModel.cpp
  src/CalcViewModel/DateCalculatorViewModel.h
Labels: Bug, fixing approved issue

#1075 Improve error handling by displaying an error message
  src/CalcViewModel/GraphingCalculator/EquationViewModel.cpp
  src/CalcViewModel/GraphingCalculator/EquationViewModel.h
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphControl/DirectX/RenderMain.cpp
  src/GraphControl/DirectX/RenderMain.h
  src/GraphControl/Models/Equation.h
  src/GraphingImpl/Mocks/Graph.h
  src/GraphingImpl/Mocks/MathSolver.h
  src/GraphingInterfaces/IGraph.h
  src/GraphingInterfaces/IMathSolver.h
Labels: graphing calculator

#1098 Add line width option
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.h
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphControl/DirectX/NearestPointRenderer.cpp
  src/GraphControl/DirectX/NearestPointRenderer.h
  src/GraphControl/DirectX/RenderMain.cpp
  src/GraphControl/DirectX/RenderMain.h
  src/GraphControl/Logger/TraceLogger.cpp
  src/GraphControl/Logger/TraceLogger.h
Labels: graphing calculator

#1097 Allow line style to be changed
  src/CalcViewModel/Common/TraceLogger.h
  src/Calculator/EquationStylePanelControl.xaml
  src/Calculator/EquationStylePanelControl.xaml.cpp
  src/Calculator/EquationStylePanelControl.xaml.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Models/Equation.cpp
  src/GraphControl/Models/Equation.h
  src/GraphControl/Models/EquationCollection.h
Labels: graphing calculator

#1106 Dark Theme For Graph Control
  src/CalcViewModel/Common/TraceLogger.cpp
  src/CalcViewModel/Common/TraceLogger.h
  src/CalcViewModel/GraphingCalculator/EquationViewModel.cpp
  src/CalcViewModel/GraphingCalculator/EquationViewModel.h
  src/CalcViewModel/GraphingCalculator/GraphingSettingsViewModel.cpp
  src/CalcViewModel/GraphingCalculator/GraphingSettingsViewModel.h
  src/Calculator/App.xaml
  src/Calculator/EquationStylePanelControl.xaml.cpp
  src/Calculator/EquationStylePanelControl.xaml.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.h
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphingImpl/Mocks/GraphingOptions.h
  src/GraphingInterfaces/IGraphingOptions.h
Labels: graphing calculator

#1074 Fix some code analysis warnings in CalcManager
  src/CalcManager/CEngine/History.cpp
  src/CalcManager/CEngine/Rational.cpp
  src/CalcManager/CEngine/RationalMath.cpp
  src/CalcManager/CEngine/calc.cpp
  src/CalcManager/CEngine/scicomm.cpp
  src/CalcManager/CEngine/scidisp.cpp
  src/CalcManager/CEngine/scifunc.cpp
  src/CalcManager/CEngine/scioper.cpp
  src/CalcManager/CEngine/sciset.cpp
  src/CalcManager/CalculatorHistory.h
  src/CalcManager/CalculatorManager.cpp
  src/CalcManager/CalculatorManager.h
  src/CalcManager/ExpressionCommand.cpp
  src/CalcManager/Header Files/CalcEngine.h
  src/CalcManager/Header Files/History.h
  src/CalcManager/Header Files/RadixType.h
  src/CalcManager/Header Files/Rational.h
  src/CalcManager/Header Files/RationalMath.h
  src/CalcManager/Ratpack/conv.cpp
  src/CalcManager/Ratpack/itrans.cpp
  src/CalcManager/Ratpack/ratpak.h
  src/CalcManager/Ratpack/trans.cpp
  src/CalcViewModel/HistoryViewModel.cpp
  src/CalcViewModel/HistoryViewModel.h
  src/CalcViewModel/StandardCalculatorViewModel.cpp
  src/CalcViewModel/StandardCalculatorViewModel.h
  src/Calculator/Converters/RadixToStringConverter.cpp
  src/CalculatorUnitTests/HistoryTests.cpp
  src/CalculatorUnitTests/RationalTest.cpp
  src/CalculatorUnitTests/StandardViewModelUnitTests.cpp
Labels: codebase quality

#1121 Update the internal version to get Graphing Engine bug fixes
  build/pipelines/templates/build-app-internal.yaml
  build/pipelines/templates/prepare-release-internalonly.yaml
Labels: graphing calculator

#1096 Make variable chevron focusable
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
Labels: graphing calculator
