Repository microsoft/calculator, pull requests merged in 2020-01, with the labels that each got.

#825 Fix prefix 0s after deleting decimal point
  src/CalcManager/CEngine/CalcInput.cpp
  src/CalculatorUITests/StandardModeFunctionalTests.cs
  src/CalculatorUnitTests/CalcInputTest.cpp
Labels: Bug, fixing approved issue

#886 Minor changes to share output
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
Labels: graphing calculator

#890 Change active tracing to use correct glyph instead of dot
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphControl/DirectX/ActiveTracingPointRenderer.cpp
  src/GraphControl/DirectX/ActiveTracingPointRenderer.h
  src/GraphControl/DirectX/RenderMain.cpp
  src/GraphControl/DirectX/RenderMain.h
  src/GraphControl/GraphControl.vcxproj
  src/GraphControl/GraphControl.vcxproj.filters
Labels: graphing calculator

#879 Add Graph Settings
  src/CalcViewModel/ApplicationViewModel.cpp
  src/CalcViewModel/CalcViewModel.vcxproj
  src/CalcViewModel/CalcViewModel.vcxproj.filters
  src/CalcViewModel/GraphingCalculator/GraphingSettingsViewModel.cpp
  src/CalcViewModel/GraphingCalculator/GraphingSettingsViewModel.h
  src/Calculator/Calculator.vcxproj
  src/Calculator/Calculator.vcxproj.filters
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.h
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphControl/DirectX/RenderMain.cpp
  src/GraphingImpl/GraphingImpl.vcxproj
  src/GraphingImpl/GraphingImpl.vcxproj.filters
  src/GraphingImpl/Mocks/Bitmap.h
  src/GraphingImpl/Mocks/Graph.h
  src/GraphingImpl/Mocks/GraphRenderer.h
  src/GraphingImpl/Mocks/GraphingOptions.h
  src/GraphingImpl/Mocks/MathSolver.cpp
  src/GraphingImpl/Mocks/MathSolver.h
  src/GraphingInterfaces/Common.h
  src/GraphingInterfaces/GraphingEnums.h
  src/GraphingInterfaces/IBitmap.h
  src/GraphingInterfaces/IEquation.h
  src/GraphingInterfaces/IEquationOptions.h
  src/GraphingInterfaces/IGraph.h
  src/GraphingInterfaces/IGraphAnalyzer.h
  src/GraphingInterfaces/IGraphRenderer.h
  src/GraphingInterfaces/IGraphingOptions.h
  src/GraphingInterfaces/IMathSolver.h
Labels: graphing calculator

#885 Update equation colors
  src/Calculator/App.xaml
  src/Calculator/Views/CalculatorProgrammerRadixOperators.xaml
  src/Calculator/Views/CalculatorScientificOperators.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
Labels: graphing calculator

#748 Taking into account Windows settings to disable/enable animations
  src/Calculator/App.xaml.cpp
  src/Calculator/App.xaml.h
  src/Calculator/Views/Calculator.xaml.cpp
  src/Calculator/Views/UnitConverter.xaml.cpp
  src/Calculator/Views/UnitConverter.xaml.h
Labels: Bug, fixing approved issue

#700 remove the useless code related to the management of the focus in CalculationResult
  src/Calculator/Controls/CalculationResult.cpp
  src/Calculator/Controls/CalculationResult.h
Labels: codebase quality

#649 Code cleaning: Remove all properties/functions not used in CalculationResult
  src/CalcViewModel/StandardCalculatorViewModel.h
  src/Calculator/Controls/CalculationResult.cpp
  src/Calculator/Controls/CalculationResult.h
  src/Calculator/Views/Calculator.xaml
  src/Calculator/Views/UnitConverter.xaml
  src/CalculatorUnitTests/StandardViewModelUnitTests.cpp
Labels: codebase quality

#754 CalcViewModel code cleaning
  src/CalcViewModel/CalcViewModel.vcxproj
  src/CalcViewModel/CalcViewModel.vcxproj.filters
  src/CalcViewModel/Common/BindableBase.cpp
  src/CalcViewModel/Common/BindableBase.h
  src/CalcViewModel/Common/ConversionResultTaskHelper.cpp
  src/CalcViewModel/Common/ConversionResultTaskHelper.h
  src/CalcViewModel/Common/TraceActivity.h
  src/CalcViewModel/HistoryViewModel.cpp
  src/CalcViewModel/HistoryViewModel.h
  src/CalcViewModel/StandardCalculatorViewModel.cpp
  src/CalcViewModel/StandardCalculatorViewModel.h
  src/CalcViewModel/UnitConverterViewModel.cpp
  src/CalcViewModel/UnitConverterViewModel.h
  src/CalcViewModel/packages.config
  src/Calculator/Calculator.vcxproj
  src/Calculator/Calculator.vcxproj.filters
  src/Calculator/Common/AppLifecycleLogger.cpp
  src/Calculator/Common/BindableBase.cpp
  src/Calculator/Common/BindableBase.h
  src/Calculator/Common/KeyboardShortcutManager.cpp
  src/Calculator/Common/KeyboardShortcutManager.h
  src/Calculator/Common/ValidatingConverters.h
  src/Calculator/Common/ViewState.cpp
  src/Calculator/Common/ViewState.h
  src/Calculator/Views/CalculatorScientificOperators.xaml.cpp
  src/Calculator/Views/DateCalculator.xaml
  src/Calculator/Views/MainPage.xaml.cpp
  src/Calculator/Views/NumberPad.xaml.h
  src/Calculator/Views/UnitConverter.xaml.cpp
  src/Calculator/Views/UnitConverter.xaml.h
  src/Calculator/WindowFrameService.cpp
Labels: codebase quality, fixing approved issue

#907 Add preview tag to Graphing feature
  src/CalcViewModel/ApplicationViewModel.cpp
  src/CalcViewModel/ApplicationViewModel.h
  src/CalcViewModel/Common/NavCategory.cpp
  src/CalcViewModel/Common/NavCategory.h
  src/Calculator/Calculator.vcxproj
  src/Calculator/Controls/PreviewTagControl.xaml
  src/Calculator/Controls/PreviewTagControl.xaml.cpp
  src/Calculator/Controls/PreviewTagControl.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/MainPage.xaml
  src/Calculator/Views/MainPage.xaml.cpp
Labels: graphing calculator

#909 Change Calculator app name back to Calculator and add spacing to Preview tag
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/MainPage.xaml
Labels: graphing calculator

#904 Fix crash when setting graph options to very large numbers
  build/pipelines/templates/build-app-internal.yaml
  src/GraphControl/DirectX/RenderMain.cpp
  src/GraphingImpl/Mocks/GraphRenderer.h
  src/GraphingInterfaces/IGraphRenderer.h
Labels: graphing calculator

#915 Removing unnecessary string copies when iterating vectors and maps in KeyGraphFeaturesInfo.
  src/GraphControl/Models/KeyGraphFeaturesInfo.cpp
Labels: graphing calculator

#917 Inferring std::array template params for featureLevels
  src/GraphControl/DirectX/DeviceResources.cpp
Labels: codebase quality, graphing calculator

#914 Fix function symbols in RtoL
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
Labels: graphing calculator

#920 Make some tweaks to the graphing mode UI
  src/Calculator/App.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
Labels: graphing calculator

#926 Format MathML equations before submission to the GraphControl
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Controls/MathRichEditBox.cpp
  src/Calculator/Controls/MathRichEditBox.h
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
Labels: graphing calculator

#921 Remove LimitedAccessFeatures check for old package name
  src/Calculator/Controls/MathRichEditBox.cpp
Labels: graphing calculator

#918 Update group policy check to look in HKCU instead of HKLM for allowing graphing mode
  src/CalcViewModel/Common/NavCategory.cpp
Labels: graphing calculator

#923 Update Font Sizes for Graph Settings and Key Graph Features to be aligned
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
Labels: graphing calculator

#924 Adjustments to ghost textbox
  src/CalcViewModel/GraphingCalculator/EquationViewModel.h
  src/Calculator/App.xaml
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
Labels: graphing calculator

#910 Use path instead of glyph for active tracing
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/Calculator/pch.h
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/DirectX/RenderMain.cpp
Labels: graphing calculator

#916 Make variable boxes collapsible on click
  build/pipelines/azure-pipelines.release.yaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
Labels: graphing calculator

#927 Update KGF Back Button Styling
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
Labels: graphing calculator

#934 Fix inequalities not graphing, and other bugs
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Models/Equation.cpp
Labels: graphing calculator

#922 Making a few improvements in Grapher
  src/GraphControl/Control/Grapher.cpp
Labels: graphing calculator

#958 Fix graphing crash when plotting equations with errors
  src/GraphControl/Control/Grapher.cpp
Labels: fixing approved issue, graphing calculator

#972 Refresh the Compact mode icon
  src/Calculator/Assets/CalcMDL2.ttf
Labels: design

#968 Always on top tool tip
  src/Calculator/Resources/en-US/Resources.resw
Labels: fixing approved issue

#938 Fix focus bug in graphing mode and other small changes
  src/Calculator/Controls/MathRichEditBox.cpp
  src/Calculator/Controls/MathRichEditBox.h
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/Calculator/Views/MainPage.xaml.cpp
Labels: fixing approved issue, graphing calculator
