Repository microsoft/calculator, pull requests merged in 2020-04, with the labels that each got.

#1120 Fix trace value not appearing after touch input
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/DirectX/RenderMain.cpp
Labels: graphing calculator

#1116 Simplify bools.
  src/CalcManager/CEngine/scidisp.cpp
  src/CalcManager/CalculatorManager.cpp
Labels: codebase quality

#1146 Update default min/max values for variables
  src/GraphControl/Models/Variable.h
Labels: graphing calculator

#1141 Set focus on EquationTextBox when KGF Back Button Pressed
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
Labels: graphing calculator

#1136 Function Remove Narrator Announcement Added
  src/CalcViewModel/Common/Automation/NarratorAnnouncement.cpp
  src/CalcViewModel/Common/Automation/NarratorAnnouncement.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
Labels: graphing calculator

#784 refactor HistoryTest.cpp to test the history using HistoryViewModel
  src/CalcViewModel/Common/Utils.cpp
  src/CalcViewModel/Common/Utils.h
  src/CalcViewModel/HistoryViewModel.cpp
  src/CalcViewModel/HistoryViewModel.h
  src/CalcViewModel/StandardCalculatorViewModel.cpp
  src/CalcViewModel/StandardCalculatorViewModel.h
  src/CalculatorUnitTests/CalculatorUnitTests.vcxproj
  src/CalculatorUnitTests/CalculatorUnitTests.vcxproj.filters
  src/CalculatorUnitTests/Helper.cpp
  src/CalculatorUnitTests/Helpers.h
  src/CalculatorUnitTests/HistoryTests.cpp
  src/CalculatorUnitTests/MultiWindowUnitTests.cpp
  src/CalculatorUnitTests/StandardViewModelUnitTests.cpp
Labels: codebase quality, fixing approved issue

#669 CalculationResult: keep focus on Scroll buttons
  src/Calculator/Controls/CalculationResult.cpp
Labels: Bug, fixing approved issue

#1152 Fix crash when using "C" key to clear equation
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml.cpp
Labels: graphing calculator

#1133 Add Automation Names to UI Elements in EquationInputArea and KGF Panel
  src/CalcViewModel/GraphingCalculator/VariableViewModel.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/KeyGraphFeaturesPanel.xaml
Labels: graphing calculator

#1154 Recycle equation colors when no longer in use
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
Labels: graphing calculator

#1079 Update styling of graph settings textbox and add shadow
  src/Calculator/App.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.cpp
Labels: graphing calculator

#1145 Add Automation Names to the GraphNumPad
  src/Calculator/Common/KeyboardShortcutManager.cpp
  src/Calculator/Common/KeyboardShortcutManager.h
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml
  src/Calculator/Views/MainPage.xaml.cpp
Labels: graphing calculator

#1149 Update Icons Implement the Graph View Button
  src/CalcViewModel/Common/Automation/NarratorAnnouncement.cpp
  src/CalcViewModel/Common/Automation/NarratorAnnouncement.h
  src/CalcViewModel/Common/TraceLogger.cpp
  src/CalcViewModel/Common/TraceLogger.h
  src/CalcViewModel/GraphingCalculator/GraphingSettingsViewModel.cpp
  src/Calculator/Assets/CalcMDL2.ttf
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Resources/en-US/Resources.resw
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingNumPad.xaml
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
Labels: graphing calculator

#1167 Fix equation automatically becoming enabled on focus lost
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
Labels: graphing calculator

#1159 Fixed crash when in high contrast
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
Labels: graphing calculator

#1148 Change trace point value precision to be dynamic based on graph scale
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
  src/Calculator/pch.h
  src/GraphControl/Control/Grapher.h
Labels: graphing calculator

#1195 Fix equation submitting twice when submitted via enter key
  src/Calculator/Controls/MathRichEditBox.cpp
Labels: graphing calculator

#1197 Don't create a new flyout every time the graph settings button is clicked
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
Labels: codebase quality, graphing calculator

#1196 Fixed issue where Shortcuts were still enabled in Graphing Mode
  src/Calculator/Common/KeyboardShortcutManager.cpp
Labels: graphing calculator

#779 Scientific and Programmer tests
  src/CalcViewModel/CalcViewModel.vcxproj.filters
  src/Calculator.sln
  src/CalculatorUITestFramework/CalculatorUITestFramework.csproj
  src/CalculatorUITestFramework/MemoryPanel.cs
  src/CalculatorUITestFramework/ProgrammerCalculatorPage.cs
  src/CalculatorUITestFramework/ProgrammerOperatorsPanel.cs
  src/CalculatorUITestFramework/ScientificCalculatorPage.cs
  src/CalculatorUITestFramework/ScientificOperatorsPanel.cs
  src/CalculatorUITestFramework/StandardAoTCalculatorPage.cs
  src/CalculatorUITestFramework/StandardCalculatorPage.cs
  src/CalculatorUITestFramework/StandardOperatorsPanel.cs
  src/CalculatorUITestFramework/WinAppDriver.cs
  src/CalculatorUITests/CalculatorUITests.csproj
  src/CalculatorUITests/ProgrammerModeFunctionalTests.cs
  src/CalculatorUITests/ScientificModeFunctionalTests.cs
  src/CalculatorUnitTests/CalculatorUnitTests.vcxproj
Labels: fixing approved issue, needs author feedback

#1206 Update calculator version to 2004
  build/pipelines/azure-pipelines.release.yaml
Labels: tooling
