Repository microsoft/calculator, pull requests merged in 2020-02, with the labels that each got.

#1016 Update build version to 2001
  build/pipelines/azure-pipelines.release.yaml
Labels: approved, tooling

#1021 Enables analysis on functions with variables
  src/GraphControl/Control/Grapher.cpp
Labels: fixing approved issue, graphing calculator

#1014 Allow rendering the graph on a background thread
  src/CalcViewModel/GraphingCalculator/VariableViewModel.h
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Controls/EquationTextBox.h
  src/Calculator/Controls/MathRichEditBox.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/GraphControl/Control/Grapher.cpp
  src/GraphControl/Control/Grapher.h
  src/GraphControl/DirectX/RenderMain.cpp
  src/GraphControl/DirectX/RenderMain.h
Labels: graphing calculator

#1010 Making Graphing::Color fully constexpr
  src/GraphingInterfaces/Common.h
Labels: graphing calculator

#967 Update mocks to allow for more UI to appear
  src/GraphingImpl/Mocks/Graph.h
  src/GraphingImpl/Mocks/MathSolver.h
Labels: codebase quality, graphing calculator

#1012 Update the CI build to only run p0 UI tests for PRs and all UI tests for rolling CI builds
  build/pipelines/templates/run-ui-tests.yaml
  src/CalculatorUITests/StandardModeFunctionalTests.cs
Labels: fixing approved issue

#788 Update Standard Mode Calculator UI Tests
  .gitignore
  src/CalculatorUITestFramework/CalculatorApp.cs
  src/CalculatorUITestFramework/CalculatorResults.cs
  src/CalculatorUITestFramework/HistoryPanel.cs
  src/CalculatorUITestFramework/MemoryPanel.cs
  src/CalculatorUITestFramework/NavigationMenu.cs
  src/CalculatorUITestFramework/NumberPad.cs
  src/CalculatorUITestFramework/StandardAoTCalculatorPage.cs
  src/CalculatorUITestFramework/StandardCalculatorPage.cs
  src/CalculatorUITestFramework/StandardOperatorsPanel.cs
  src/CalculatorUITestFramework/WinAppDriver.cs
  src/CalculatorUITests/HistoryFunctionalTests.cs
  src/CalculatorUITests/MemoryFunctionalTests.cs
  src/CalculatorUITests/StandardModeFunctionalTests.cs
Labels: codebase quality, fixing approved issue

#1036 No need to make an Visibility variable if it is either one of two possibilities
  src/Calculator/Converters/VisibilityNegationConverter.cpp
Labels: codebase quality

#1038 Remove unneeded assets
  src/Calculator/Assets/CalculatorAppList.targetsize-256_altform-lightunplated_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-256_altform-unplated_contrast-black_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-256_altform-unplated_contrast-white_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-256_altform-unplated_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-48_altform-lightunplated_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-48_altform-unplated_contrast-black_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-48_altform-unplated_contrast-white_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-48_altform-unplated_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-96_altform-lightunplated_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-96_altform-unplated_contrast-black_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-96_altform-unplated_contrast-white_devicefamily-colorfulunplated.png
  src/Calculator/Assets/CalculatorAppList.targetsize-96_altform-unplated_devicefamily-colorfulunplated.png
  src/Calculator/Calculator.vcxproj
  src/Calculator/Calculator.vcxproj.filters
Labels: tooling

#1022 Make unit converters stil working when users opened 'Currency' while offline
  src/CalcViewModel/UnitConverterViewModel.cpp
  src/CalcViewModel/UnitConverterViewModel.h
  src/Calculator/Views/UnitConverter.xaml
  src/Calculator/Views/UnitConverter.xaml.cpp
Labels: Area: Reliability, fixing approved issue

#1042 Delay loading some unused UI elements
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.cpp
  src/Calculator/Views/GraphingCalculator/EquationInputArea.xaml.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.h
Labels: graphing calculator

#1049 Fix usability issues with settings flyout
  src/CalcViewModel/GraphingCalculator/GraphingSettingsViewModel.cpp
  src/CalcViewModel/GraphingCalculator/GraphingSettingsViewModel.h
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml
  src/Calculator/Views/GraphingCalculator/GraphingCalculator.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.cpp
  src/Calculator/Views/GraphingCalculator/GraphingSettings.xaml.h
Labels: graphing calculator

#1047 Fix some accessibility bugs
  src/Calculator/Controls/EquationTextBox.cpp
  src/Calculator/Resources/en-US/Resources.resw
Labels: graphing calculator

#1057 Pass EquationButtonContentIndex for show equation tooltip
  src/Calculator/Controls/EquationTextBox.cpp
Labels: graphing calculator
